<div class="card-deck mb-3 text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Join the best dating app</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">Get started for FREE</h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores error est expedita facilis labore, molestias natus numquam omnis quod repellat tempora voluptates? Libero minus nam nisi nobis reiciendis rerum voluptas.
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Sign up Today</h4>
    </div>
    <div class="card-body">
      <p>Click below to get started.</p>
      <%= link_to "Sign up now", new_account_registration_path, class: "btn btn-lg btn-primary btn-block" %>
    </div>
  </div>
</div>